{{ form_start(form) }}
    {{ form_row(form.email) }}

    {% if user.id %}
        <table class="table">
            <tr>
                <th>{{ 'Created'|trans }}</th>
                <td>{% include 'components/date-field.html.twig' with {date: user.createdAt} only %}</td>
            </tr>
            <tr>
                <th>{{ 'Updated'|trans }}</th>
                <td>{% include 'components/date-field.html.twig' with {date: user.updatedAt} only %}</td>
            </tr>
        </table>
    {% endif %}

    {% if form.plainPassword is defined %}
        {{ form_row(form.plainPassword) }}
    {% endif %}

<div class="card pt-0 pl-3 mb-3">
    {{ form_row(form.roles) }}
</div>

<div class="card pt-3 pl-3 mb-3">
    {{ form_row(form.active) }}
    {{ form_row(form.verified) }}
    {{ form_row(form.banned) }}
    {% if form.invite is defined %}
        {{ form_row(form.invite) }}
    {% endif %}
</div>

<div class="card pt-3 px-3 mb-3">
    {{ form_row(form.applications) }}
</div>

{% include 'components/form-submit.html.twig' with {'title':'Submit'|trans } only %}
{{ form_end(form) }}
