{% extends 'base.html.twig' %}

{% block title %}{{ "User management"|trans }} {{ parent() }}{% endblock %}

{% block body %}
    {% include 'components/navbar.html.twig' %}

    <div class="container-fluid mt-3">

        <div class="row">
            <div class="col-12">
                {% include 'components/messages.html.twig' %}
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12 d-flex justify-content-between">
                <a class="btn btn-primary" href="{{ path('user_new') }}">{{ "New"|trans }}</a>

                <form method="get" class="d-flex"
                      action="{{ path(app.request.attributes.get('_route'), app.request.query.all) }}">
                    <input class="form-control mr-2" type="text" name="query" value="{{ app.request.get('query') }}"/>
                    <input class="btn btn-primary mr-2" type="submit" value="{{ 'Search'|trans }}" />
                    <a class="btn btn-secondary"
                       href="{{ path(app.request.attributes.get('_route')) }}">{{ 'Reset'|trans }}</a>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            {{ sort_link('email', 'Email', {'sort': 'email', 'sort-dir': 'asc'})|raw }}
                        </th>
                        <th class="d-none d-sm-table-cell">{{sort_link('roles', 'Roles')|raw }}</th>
                        <th class="d-none d-sm-table-cell text-center">{{sort_link('active', 'Active')|raw }}</th>
                        <th class="d-none d-sm-table-cell text-center">{{ sort_link('verified', 'Verified')|raw }}</th>
                        <th class="d-none d-sm-table-cell text-center">{{ sort_link('banned', 'Banned')|raw }}</th>
                        <th class="d-none d-sm-table-cell">{{ sort_link('createdAt', 'Created')|raw }}</th>
                        <th class="text-center" style="width: 120px">{{ 'Actions'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in pager.currentPageResults %}
                        <tr data-test="edit-user-{{ user.email }}">
                            <td class="align-baseline">{{ user.email }}</td>
                            <td class="d-none d-sm-table-cell align-baseline">
                                {% for role in user.roles %}
                                    <span
                                        class="badge badge-secondary">{{ role|replace({'ROLE_': '' })|capitalize|trans }}</span>
                                {% endfor %}
                            </td>
                            <td class="d-none d-sm-table-cell text-center align-baseline">
                                {% if user.active %}
                                    <span class="badge badge-success">{{ 'Yes'|trans }}</span>
                                {% else %}
                                    <span class="badge badge-danger">{{ 'No'|trans }}</span>
                                {% endif %}
                            </td>
                            <td class="d-none d-sm-table-cell text-center align-baseline">
                                {% if user.verified %}
                                    <span class="badge badge-success">{{ 'Yes'|trans }}</span>
                                {% else %}
                                    <span class="badge badge-danger">{{ 'No'|trans }}</span>
                                {% endif %}
                            </td>
                            <td class="d-none d-sm-table-cell text-center align-baseline">
                                {% if user.banned %}
                                    <span class="badge badge-success">{{ 'Yes'|trans }}</span>
                                {% else %}
                                    <span class="badge badge-danger">{{ 'No'|trans }}</span>
                                {% endif %}
                            </td>
                            <td class="d-none d-sm-table-cell align-baseline">
                                {% include 'components/date-field.html.twig' with {date: user.createdAt} only %}
                            </td>
                            <td class="d-flex justify-content-center align-baseline">
                                <a class="btn btn-outline-primary mr-2 edit-button"
                                   href="{{ path('user_edit', {'id': user.id}) }}">
                                    <i class="fas fa-edit"></i></i>
                                </a>
                                <div class="float-right">
                                    {% include 'components/delete-button.html.twig' with {
                                        'action': path('user_delete', {'id': user.id}),
                                        'csrf': csrf_token('delete' ~ user.id),
                                        'entity': 'user'
                                    } only %}
                                </div>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7" class="text-center">{{ 'No results found'|trans }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {% include 'components/pager.html.twig' with {pager: pager} only %}

{% endblock %}
