{% extends 'base.html.twig' %}

{% block title %}{{ "Mailbox"|trans }} {{ parent() }}{% endblock %}

{% block body %}
    {% include 'components/navbar.html.twig' %}

    <div class="container-fluid mt-3">

        <div class="row">
            <div class="col-12">
                {% include 'components/messages.html.twig' %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <ul class="list-group mb-3">
                    {% for mail in pager.currentPageResults %}
                        <li class="list-group-item">
                            <a href="{{ path('admin_mailbox_read', {mail: mail.id, page: pager.currentPage}) }}">
                                {{ mail.subject }}
                            </a>
                            <div class="d-flex text-muted justify-content-between">
                                <small>{{ mail.from }}</small>
                                <small>{{ mail.to }}</small>
                            </div>
                        </li>
                    {% endfor %}
                </ul>

                <div class="pager d-flex justify-content-center mb-3">
                    {{ pagerfanta(pager, 'twitter_bootstrap4', {prev_message: '&larr;', next_message: '&rarr;'}) }}
                </div>
            </div>

            <div class="col-md-8">
                {% if mail is not null %}
                    <table class="table">
                        <tr>
                            <th colspan="2">{{ mail.subject }}</th>
                        </tr>
                        <tr>
                            <th>{{ "From"|trans }}</th>
                            <td>{{ mail.from }}</td>
                        </tr>
                        <tr>
                            <th>{{ "To"|trans }}</th>
                            <td>{{ mail.to }}</td>
                        </tr>
                        <tr>
                            <th>{{ "Date"|trans }}</th>
                            <td>{{ mail.createdAt|date }}</td>
                        </tr>
                    </table>
                    <div data-test="mailbox-body">
                        {{ mail.body|raw }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}



