{% extends 'base.html.twig' %}

{% block title %}{{ "Settings"|trans }} {{ parent() }}{% endblock %}

{% block body %}
    {% include 'components/navbar.html.twig' %}

    <div class="container mt-3">

        <div class="row">
            <div class="col-12">
                {% include 'components/messages.html.twig' %}
            </div>
        </div>

        {{ form_start(form) }}

        <div class="card pt-3 px-3 mb-3">
            {{ form_row(form.registration_enabled) }}
        </div>

        {% include 'components/form-submit.html.twig' with {'title':'Submit'|trans } only %}
        {{ form_end(form) }}

    </div>
{% endblock %}



