{% extends 'base.html.twig' %}

{% block title %}{{ 'Account settings'|trans }} {{ parent() }}{% endblock %}

{% block body %}
    {% include 'components/verify-notification.html.twig' %}
    {% include 'components/navbar.html.twig' %}
    <div class="container my-3">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                {% include 'components/messages.html.twig' %}
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h1 class="mb-3">{{ 'Change password'|trans }}</h1>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {% include 'components/form-submit.html.twig' with {'title':'Submit'|trans } only %}
                {{ form_end(form) }}
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div id="react-email-change-form"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="alert alert-warning">
                    <p>{{ "You can temporarly deactivate account"|trans }}</p>

                    <form method="post" action="{{ path('api_account_decativate') }}">
                        <button type="submit" class="btn btn-warning">{{ 'Deactivate'|trans }}</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="alert alert-danger">
                    <p>{{ "Delete accout. This action cannot be undone."|trans }}</p>

                    <form method="post" action="{{ path('api_account_delete') }}">
                        <button type="submit" class="btn btn-danger">{{ 'Delete'|trans }}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
