<!DOCTYPE html>
<html lang="{{ app.request.locale }}"{% if app.request.get('background-color') is not null %} style="background-color: {{ app.request.get('background-color') }}" {% endif %}>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} | {{ app_name }}{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
<div id="app-root"></div>
{% block body %}
{% endblock %}
{% block javascripts %}
    {% include('components/globals.html.twig') %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
