{% extends 'card.html.twig' %}

{% block title %}{{ 'Login'|trans }} {{ parent() }}{% endblock %}

{% block card %}
    <h1 class="h3 mb-3">{% trans %}Login{% endtrans %}</h1>
    {{ include('components/messages.html.twig') }}

    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="h-100"
         id="login-form"
         data-csrf="{{ csrf_token('authenticate') }}"
         data-email="{{ last_username }}"
         data-registration-allowed="{{ registration_allowed }}"
    ></div>

    {#    {% include 'pages/security/_login_form.html.twig' %}#}
{% endblock %}


