{% extends 'card.html.twig' %}

{% block title %}{{ 'Account recovery'|trans }} {{ parent() }}{% endblock %}

{% block card %}
    <h3 class="mb-3 text-center">{{ 'Account recovery'|trans }}</h3>
    {{ include('components/messages.html.twig') }}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="text-center mb-3">
        <a href="{{ path('app_login') }}">{{ 'Have an account? Login'|trans }}</a>
    </div>
    {% include 'components/form-submit.html.twig' with {'title':'Submit'|trans } only %}
    {{ form_end(form) }}
{% endblock %}
