{% extends 'email/base.html.twig' %}

{% set url = url|default('#') %}

{% block title %}{{ subject|default('Email') }} {{ parent() }}{% endblock %}

{% block content %}
    <tr>
        <td>
            <h2 class="text-left">{{ "Email verification"|trans() }}</h2>
            <p class="text-left">{{ "Thanks for creating account at %app_name%. To continue, please verify your email address by clicking the button bellow:"|trans({'%app_name%': app_name}) }}</p>
            <a class="cta" href="{{ url }}">{{ 'VERIFY'|trans({}) }}</a>
            <p class="text-left">{{ "If you didn't create account, no further action is requeired."|trans({}) }}</p>
        </td>
    </tr>
{% endblock %}
